* {
  margin: 0;
  padding: 0;
}

form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CC1BA;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 42px;
}
form button:hover, form button:active, form button:focus {
  background: #43A047;
}
